<div class="container color-dark">
	<div class="col">
		<p>Add a bucket list item</p>
	</div>
	<div class="col">
		<p>Your bucket list ({{ itemCount }})</p>
	</div>
</div>
<div class="container color-light" [@goals]="goals.length">
	<div class="col">
		<p class="sm">Use this form below to add a new bucket list goal. What do you want to do with your life?</p>
		<form>
			<input type="text" class="txt" name="item" placeholder="Life goal..." [(ngModel)]="goalText">
			<input type="submit" class="btn" [value]="btnText" (click)="addItem()">
		</form>
	</div>
	<div class="col">
		<p class="life-container" *ngFor="let goal of goals; let i = index">
		<span class="closebtn" (click)="removeItem(i)">&times;</span>
			{{ goal }}
		</p>
	</div>
</div>
<div class="modal" *ngIf="isModal">
	<!-- Modal content -->
	<div class="modal-content">
		<span class="close" (click)="removeModal()">&times;</span>
		<p>Please input a goal in the required field..</p>
	</div>
</div>
